@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.aboutTop {
  padding-bottom: 15rem;
}

@media (max-width: 559px) {
  .aboutTop {
    padding-bottom: 5rem;
  }
}

.aboutTop-mv {
  padding: 30rem 0;
  background: url(../../image/about-bg.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
}

.aboutTop-mv-heading {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
  background: #feffd1;
  position: relative;
  top: -3rem;
  margin: 0 5rem;
}

.aboutTop-mv-heading h3 {
  font-size: 1.6rem;
  letter-spacing: 0.8rem;
}

.aboutTop-mv-heading p {
  font-size: 1.4rem;
  margin-left: 7.8125vw;
}

@media (max-width: 559px) {
  .aboutTop-mv-heading p {
    margin: 1rem 0 0 0;
  }
}

@media (max-width: 559px) {
  .aboutTop-mv-heading {
    flex-direction: column;
    margin: 0;
    font-size: 1.5rem;
    top: -50rem;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
  }
}

.aboutTop-point {
  padding-top: 5rem;
}

.aboutTop-point h3 {
  display: inline-block;
  font-size: 3rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #000;
  position: relative;
}

@media (max-width: 559px) {
  .aboutTop-point h3 {
    display: block;
    text-align: center;
    padding-right: 0;
    border: none;
  }
  .aboutTop-point h3:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0px;
    display: inline-block;
    padding: 1px 30px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #000;
  }
}

.aboutTop-point h4 {
  margin-bottom: 3rem;
  font-size: 1.6rem;
}

.aboutTop-text {
  display: flex;
  justify-content: space-between;
}

.aboutTop-text p {
  font-size: 1.2rem;
}

@media (max-width: 559px) {
  .aboutTop-text {
    flex-direction: column;
  }
  .aboutTop-text p {
    margin-bottom: 1rem;
  }
}

.aboutTop-text-left {
  margin-right: 7.8125vw;
}

.aboutTop-text-left p:first-child {
  margin-bottom: 1.4rem;
}

@media (max-width: 559px) {
  .aboutTop-text-left {
    margin-right: 0;
  }
}

.office {
  background: #e8e8e8;
}

.office-data {
  padding: 5rem 0;
  margin: 0 15.625vw;
  display: flex;
  justify-content: space-between;
}

.office-data-img {
  padding: 14.0625vw 10.9375vw;
  background-image: url(../../image/male01.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media (max-width: 559px) {
  .office-data-img {
    padding: 150px 100px;
    background: cover;
  }
}

@media (max-width: 559px) {
  .office-data {
    margin: 0 1rem;
    flex-direction: column;
  }
}

.office-data-text h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.office-data-text ul li {
  line-height: 2.5;
  font-size: 1.6rem;
}

@media (max-width: 559px) {
  .office-data-text {
    margin-bottom: 2rem;
  }
}

.serviceTop-mv {
  padding: 30rem 0;
  width: 100%;
  background: url(../../image/study01.jpg);
  background-size: cover;
  background-position: bottom;
}

.serviceMain {
  border: 1rem solid #F5F5DC;
  padding-top: 6rem !important;
  padding-bottom: 4rem !important;
}

.serviceMain-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
}

@media (max-width: 559px) {
  .serviceMain-item {
    flex-direction: column;
  }
}

.serviceMain-item:nth-of-type(3) {
  margin-bottom: 0;
}

.serviceMain-item-text {
  margin-right: 3.90625vw;
}

@media (max-width: 559px) {
  .serviceMain-item-text {
    margin-right: 0;
  }
}

.serviceMain-item-text h3 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.serviceMain-item-text h3 span {
  color: #fff;
  background: #4b3480;
  padding: 1rem 1.4rem;
  margin-right: 1rem;
}

.serviceMain-item-text p {
  line-height: 1.7;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.serviceMain-item-outline {
  width: 500px;
  background: #F5F5DC;
  padding: 2rem 1.5625vw;
}

@media (max-width: 559px) {
  .serviceMain-item-outline {
    width: auto;
  }
}

.serviceMain-item-outline h3 {
  font-size: 1.25vw;
  margin-bottom: 2rem;
  text-align: center;
}

@media (max-width: 559px) {
  .serviceMain-item-outline h3 {
    font-size: 1.6rem;
  }
}

.serviceMain-item-outline h3 span:first-child {
  margin-right: 1rem;
  vertical-align: 1rem;
}

.serviceMain-item-outline h3 span:last-child {
  margin-left: 1rem;
}

.serviceMain-item-outline ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 2rem;
}

.serviceMain-item-outline ul li {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.serviceMain-item-outline-link {
  text-align: center;
  background: #4b3480;
  border-radius: 30px;
  padding: 2rem 0;
}

.serviceMain-item-outline-link a {
  color: #fff;
}

.serviceMain-item-outline-last {
  text-align: center;
}

.serviceMain-item-outline-last p {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.priceTop-tag {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #4b3480;
}

@media (max-width: 559px) {
  .priceTop-tag {
    padding: 1rem 0;
    margin: 0 1rem;
  }
}

.priceTop-tag h3 {
  font-size: 2rem;
  padding: 2rem 3rem;
  margin: 0.5rem 0;
  transition: all 0.2s ease;
}

@media (max-width: 559px) {
  .priceTop-tag h3 {
    padding: 1rem 0;
  }
}

.priceTop-tag h3 a {
  color: #000;
}

.priceTop-tag h3:hover {
  background: #4b3480;
  color: #fff;
}

.priceTop-tag h3:hover a {
  color: #fff;
}

.priceTop-tag h3:hover span {
  border-color: #fff;
}

@media (max-width: 559px) {
  .priceTop-tag h3 {
    font-size: 1.2rem;
  }
  .priceTop-tag h3:hover {
    background: transparent;
  }
}

.priceTop-tag h3 span {
  display: block;
  width: 1rem;
  height: 1rem;
  border: 1px solid #000;
  border-top: 0;
  border-left: 0;
  -webkit-transform: rotate(45deg) translate(-50%);
  transform: rotate(45deg) translate(-50%);
  position: relative;
  left: 50%;
  margin-top: 2rem;
}

@media (max-width: 559px) {
  .priceTop-tag h3 span {
    margin-top: 1rem;
  }
}

.priceMain {
  padding: 3rem 1rem 8rem;
}

@media (max-width: 559px) {
  .priceMain {
    padding-bottom: 0;
  }
}

.priceMain-item {
  margin-bottom: 5rem;
}

.priceMain-item:nth-of-type(3) {
  margin-bottom: 0;
}

.priceMain-item:nth-of-type(3) h4,
.priceMain-item:nth-of-type(3) p {
  font-weight: bold;
}

.priceMain-item h3 {
  font-size: 2rem;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

.priceMain-item h3 span {
  background: #4b3480;
  color: #fff;
  padding: 1rem;
  margin-right: 2rem;
}

.priceMain-item h4 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.priceMain-item p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.priceMain-item-bottom {
  margin-top: 3rem;
}

.priceMain-item-bottom h4 {
  margin-bottom: 1rem;
}

.priceMain-item table {
  width: 100%;
}

.priceMain-item table thead tr,
.priceMain-item table tbody tr {
  text-align: left;
}

.priceMain-item table thead tr th,
.priceMain-item table thead tr td,
.priceMain-item table tbody tr th,
.priceMain-item table tbody tr td {
  padding: 2rem 0;
}

.priceMain-item table thead tr th,
.priceMain-item table tbody tr th {
  font-size: 1.2rem;
  border-bottom: 5px solid #4b3480;
}

.priceMain-item table thead tr td,
.priceMain-item table tbody tr td {
  border: 1px solid #4b3480;
}

.priceMain-item-first tbody tr td:first-child {
  background: #e8e8e8;
}

.priceMain-item-second tbody tr:nth-child(even) td {
  background: #e8e8e8;
}

.blogMain-grid {
  width: 100%;
  max-width: 1000px;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  padding-left: 100px !important;
  padding-right: 100px !important;
  display: grid;
  gap: 5rem 2rem;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin-bottom: 5rem;
}

@media (max-width: 559px) {
  .blogMain-grid {
    gap: 1rem 1rem;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    padding: 1rem 1rem !important;
  }
}

.blogMain-grid-item img {
  width: 100%;
  margin-bottom: 1rem;
}

@media (max-width: 559px) {
  .blogMain-grid-item img {
    width: 100%;
  }
}

.blogMain-grid-item time {
  display: block;
  margin-bottom: 1rem;
}

.blogMain-grid-item h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.blogMain-grid-item p {
  line-height: 1.7;
}

.blogMain-button {
  text-align: center;
  margin-bottom: 10rem;
}

.blogMain-button a {
  display: inline-block;
  padding: 1rem;
  border: 1px solid #000;
  margin-right: 1rem;
}

.contents {
  padding: 3.90625vw 15.625vw 5.46875vw;
}

@media (max-width: 559px) {
  .contents {
    width: auto;
    margin: 0 auto;
    padding: 0 2rem;
  }
}

.contents-top time {
  display: block;
  margin-bottom: 1rem;
}

.contents-top h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contents-top img {
  width: 100%;
  height: 500px;
  background-size: cover;
  margin-bottom: 2rem;
}

@media (max-width: 559px) {
  .contents-top img {
    height: 200px;
  }
}

.contents-top p {
  line-height: 1.7;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

.contents-second {
  margin-bottom: 5rem;
}

.contents-second h3 {
  font-size: 2rem;
  padding: 2rem 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-bottom: 2rem;
}

.contents-second p {
  line-height: 1.7;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.contents-third {
  margin-bottom: 3rem;
}

.contents-third h4 {
  padding: 1rem;
  margin-bottom: 1rem;
  background: #F5F5DC;
  font-size: 1.6rem;
}

.contents-third p {
  line-height: 1.7;
  margin-bottom: 5rem;
  font-size: 1.4rem;
}

.contents-bottom {
  margin-bottom: 5rem;
  text-align: center;
}

.contents-bottom-img {
  margin: 0 auto;
  width: auto;
  display: inline-block;
  padding: 100px 200px;
  background: url(../../image/blog.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (max-width: 559px) {
  .contents-bottom-img {
    width: 100%;
    padding: 100px 100px;
  }
}

.contents-sns {
  height: 200px;
  display: flex;
}

@media (max-width: 559px) {
  .contents-sns {
    flex-direction: column;
    height: auto;
  }
}

.contents-sns img {
  width: 25vw;
}

@media (max-width: 559px) {
  .contents-sns img {
    width: 100%;
    height: 250px;
  }
}

.contents-sns-share {
  width: 100%;
  text-align: center;
}

.contents-sns-share a {
  line-height: 7;
  display: block;
  width: 100%;
  height: 50%;
  border: 1px solid #000;
  color: #000;
  font-size: 1.4rem;
}

.contents-sns-share a:first-child {
  border-bottom: 0;
}

.contents-latest {
  margin-bottom: 5rem !important;
}

.contents-latest h2 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

@media (max-width: 559px) {
  .contents-latest h2 {
    margin: 3rem 0;
  }
}

.contents-latest img {
  margin-bottom: 1rem;
}

.contents-latest time {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.contents-latest h3 {
  margin-bottom: 1.2rem;
}

.contents-latest p {
  font-size: 1.2rem;
}

.contents-latest-blog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 559px) {
  .contents-latest-blog {
    flex-direction: column;
  }
}

.contents-latest-blog-icon {
  width: 30%;
}

@media (max-width: 559px) {
  .contents-latest-blog-icon {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

.contents-latest-blog-icon-img {
  padding: 150px 7.8125vw;
  background: url(../../image/okashi.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.contents-contact {
  background: #e8e8e8;
}

.common-heading {
  padding: 5rem 0;
  width: 100%;
  background: #4b3480;
  color: #fff;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

@media (max-width: 559px) {
  .common-heading {
    padding: 3rem;
  }
}

html {
  font-size: 62.5%;
}

.container {
  width: auto;
  margin: 0 auto;
  padding: 0 3.90625vw;
}

.slide-menu {
  transform: translateX(100vw);
  transition: all .3s linear;
  position: fixed;
  background: rgba(255, 255, 255, 0.7);
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.slide-menu ul {
  padding: 50px 50px;
}

@media (max-width: 559px) {
  .slide-menu ul {
    display: flex;
    flex-direction: column;
  }
}

.slide-menu li {
  margin-bottom: 30px;
}

.slide-menu li a {
  font-size: 2rem;
  color: #000;
}

@media (max-width: 559px) {
  .slide-menu li a {
    font-size: 3rem;
    font-weight: bold;
    display: inline-block;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #000;
  }
}

/* アニメーション後のメニューの状態 */
.slide-menu.is-active {
  transform: translateX(0);
  display: block;
}

/*=============================
.btn-trigger
=============================*/
.btn-trigger {
  position: relative;
  width: 24px;
  height: 18px;
  cursor: pointer;
  position: fixed;
  top: 12px;
  right: 20px;
  z-index: 10;
}

.btn-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #e8e8e8;
  border-radius: 4px;
}

.btn-trigger, .btn-trigger span {
  display: inline-block;
  transition: all .5s;
  box-sizing: border-box;
}

.btn-trigger span:nth-of-type(1) {
  top: 0;
}

.btn-trigger span:nth-of-type(2) {
  top: 8px;
}

.btn-trigger span:nth-of-type(3) {
  bottom: 0;
}

/*=============================
#btn01
=============================*/
#btn.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(8px) rotate(-45deg);
  background: #4b3480;
}

#btn.active span:nth-of-type(2) {
  opacity: 0;
}

#btn.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-8px) rotate(45deg);
  background: #4b3480;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (max-width: 559px) {
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.header h1 {
  font-size: 1.95312vw;
}

@media (max-width: 559px) {
  .header h1 {
    font-size: 2rem;
    width: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.header h1 a {
  color: #000;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 2.5rem;
}

.header ul li a {
  color: #000;
  font-size: 1.5rem;
}

@media (max-width: 559px) {
  .header .no-sp {
    display: none;
  }
  .header .no-pc {
    display: block;
  }
  .header .container {
    width: auto;
    margin: 0 auto;
    padding: 0 1rem;
  }
}

.top {
  margin-bottom: 5rem;
}

@media (max-width: 559px) {
  .top {
    margin-bottom: 5rem;
  }
}

.top-mv {
  background-image: url(../../image/topbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 20rem 0;
  width: auto;
}

.top-mv-text {
  color: #fff;
  margin-left: 4rem;
}

.top-mv-text h2 {
  font-size: 4.6875vw;
}

.top-mv-text p {
  font-size: 1.5625vw;
}

.top-item {
  position: relative;
  display: flex;
}

@media (max-width: 559px) {
  .top-item {
    flex-direction: column;
  }
}

.top-item-consept {
  width: 50%;
  padding: 3rem 6.25vw;
  background: linear-gradient(to bottom, #4b3480, #ade2ff);
  position: relative;
  top: -4rem;
}

@media (max-width: 559px) {
  .top-item-consept {
    width: auto;
    order: 2;
    background: #fff;
    padding: 2rem 1.6rem;
    top: 0;
  }
}

.top-item-consept p:first-child {
  line-height: 1.7;
  font-size: 1.5625vw;
  color: #fff;
  margin-bottom: 3rem;
}

@media (max-width: 559px) {
  .top-item-consept p:first-child {
    margin-bottom: 3rem;
  }
}

.top-item-consept p:last-child {
  line-height: 1.5;
  font-size: 0.9375vw;
  color: #fff;
}

.top-item-news {
  width: 50%;
  padding: 3rem 2rem;
}

@media (max-width: 559px) {
  .top-item-news {
    width: auto;
    order: 1;
    padding-top: 1rem;
    padding-bottom: 3rem;
    margin: 0 2rem;
    border-bottom: 5px solid #4b3480;
  }
}

.top-item-news h2 {
  text-align: center;
  font-weight: bold;
  font-size: 0.9375vw;
  margin-bottom: 1rem;
}

@media (max-width: 559px) {
  .top-item-news h2 {
    text-align: left;
  }
}

.top-item-news dl {
  display: flex;
  font-size: 0.9375vw;
}

.top-item-news dl dt {
  margin-right: 2rem;
}

.service {
  margin-bottom: 5rem;
}

.service h2 {
  text-align: center;
  font-size: 3rem;
  color: #e8e8e8;
  margin-bottom: 2rem;
}

.service-item {
  margin-bottom: 5rem;
  display: grid;
  gap: 3rem 4rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (max-width: 559px) {
  .service-item {
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  }
}

.service-item-img {
  padding: 120px 160px;
  background: url(../../image/blog.jpg);
  background-size: cover;
  background-position: center center;
}

@media (max-width: 559px) {
  .service-item-img {
    padding: 120px 120px;
  }
}

.service-item-icon {
  width: 100%;
}

.service-item-icon p {
  font-size: 1.2rem;
}

.service-item-title {
  display: flex;
  border: 1px solid #4b3480;
  width: 80%;
  margin: 0 auto;
  position: relative;
  bottom: 2rem;
  background: #fff;
}

.service-item-title span {
  display: inline-block;
  border-right: 1px solid #4b3480;
  background: #4b3480;
  font-size: 1.5rem;
  color: #fff;
  padding: 1rem 1.2rem;
}

.service-item-title h3 {
  font-size: 1.5rem;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.service-link {
  text-align: center;
}

@media (max-width: 559px) {
  .service-link {
    margin-top: 5rem;
  }
}

.service-link a {
  display: inline-block;
  padding: 2rem 8rem;
  background: #4b3480;
  border-radius: 30px;
  color: #fff;
  font-size: 1.4rem;
}

@media (max-width: 559px) {
  .service-link a {
    padding: 2rem 12rem;
  }
}

.blog {
  margin-bottom: 5rem;
}

.blog h2 {
  text-align: center;
  font-size: 3rem;
  color: #e8e8e8;
  margin-bottom: 2rem;
}

.blog-item {
  margin-bottom: 5rem;
  display: grid;
  gap: 3rem 4rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (max-width: 559px) {
  .blog-item {
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  }
}

.blog-item-icon {
  width: 100%;
}

.blog-item-icon-img {
  padding: 120px 160px;
  background: url(../../image/pc01.jpg);
  background-size: cover;
  background-position: center center;
  margin-bottom: 10px;
}

@media (max-width: 559px) {
  .blog-item-icon-img {
    padding: 120px 120px;
  }
}

.blog-item-icon time {
  font-size: 1.4rem;
  margin-bottom: 10px;
  display: block;
}

.blog-item-icon h3 {
  font-size: 1.6rem;
  margin-bottom: 15px;
}

.blog-item-icon p {
  font-size: 1.4rem;
}

.blog-link {
  text-align: center;
}

@media (max-width: 559px) {
  .blog-link {
    margin-top: 5rem;
  }
}

.blog-link a {
  display: inline-block;
  padding: 2rem 8rem;
  background: #4b3480;
  border-radius: 30px;
  color: #fff;
  font-size: 1.4rem;
}

@media (max-width: 559px) {
  .blog-link a {
    padding: 2rem 12rem;
  }
}

.maps {
  position: relative;
}

.maps-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
}

.maps-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.maps-icon {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 0 5px;
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  background: #4b3480;
  border-radius: 50%;
  box-sizing: border-box;
}

.maps-icon:before {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #4b3480;
  z-index: 0;
}

.maps span:first-child {
  font-size: 2rem;
}

.maps span:last-child {
  font-size: 0.1rem;
}

#maps {
  height: 40rem;
  width: auto;
}

.contact {
  padding-top: 10rem;
}

.contact-item {
  text-align: center;
}

.contact-item p {
  padding: 2rem 0;
}

.contact-item a {
  display: inline-block;
  padding: 2rem 8rem;
  background: #4b3480;
  color: #fff;
  font-size: 2rem;
  border-radius: 30px;
  margin-bottom: 5rem;
}

.contact:after {
  content: "";
  padding: 5rem 0;
  background: #4b3480;
  width: 100%;
  display: block;
}

.no-pc {
  display: none;
}
